.book {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  list-style-type: none;

  a {
    text-decoration: none;
    color: inherit;
  }

  .book-properties {
    margin-left: 25px;
    padding: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
    border-left: solid transparent 25px;

    .book-property {
      margin-left: 15px;
      font-size: 1.5em;
      font-weight: bolder;

      span {
        font-weight: lighter;
      }
    }
  }

  .book-properties:hover {
    border-left: solid #EE7469 25px;
    cursor: pointer;
  }
}

